<h2>Mixtape: <%= @mixtape.name %></h2>

<%= render "layouts/player" %>
  
<br/>

<div>
  <%= link_to "Edit ", edit_mixtape_path(@mixtape) %>|
  <%= link_to " Delete", mixtape_path(@mixtape), :method => :delete %>
</div>
  
  
  