<h2>Find a Song to Add to Your Collection</h2>
<% if @songs.any? %>
<ul>
<% @songs.each do |s| %>
  <li>
  <%= link_to s.name, song_path(s) %><br/>
  <%= audio_tag(s.song_file, :controls => true) if s.song_file.present? %><br/>
  </li>  
<% end %>
</ul>
<% end %>

<%= link_to "Add a Song", new_song_path %>