/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require "jplayer.blue.monday"
 *= require "bootstrap"
 *= require_self
 *= require_tree .
 */

.showpage {
	padding-bottom: 5px;
}

#greeting {
	background: #f2f1ee;
	padding: 20px;
	margin-bottom: 20px;
}

#greeting h1 {
	text-align: center
}

#mixtape {
	text-align: center;
}

#bottomgreeting {
	background: #a0cce1;
	padding-top: 20px;
	margin-left: 0px;
	
}

.songsearch {
	text-align: center;
	padding-top: 20px;
}


